body {
    background-image: url('../images/network.gif');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.page-title {
    text-align: center;
}

.mainContainer {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.about_me, .instruction, .experiences, .skills, .hobbies {
    width: 95%;
    padding: 5px 0 0 0;
    border-radius: 10px;
}

.card-container {
    padding: 0px 15px;
}

.flip-card {
    border-radius: 10px;
    border: 2px solid #ffffff;
    position: relative;
    background-color: transparent;
    width: 150px;
    height: 150px;
    perspective: 1000px;
    padding: 5px;
}

.flip-card-inner {
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    color: black;
    border-radius: 10px;
}

.flip-card-back {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
    color: white;
    transform: rotateY(180deg);
    border-radius: 10px;
}

.white_sheet_box {
    width: 50%;
    padding: 10px;
    border: 2px solid #ffffff;
    background-color: transparent;
    border-radius: 10px;
}

.white_sheet {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 10px;
}

.hide {
    display: none !important;
}

h1 {
    align-self: center;
    color: #ffffff;
}

.slideLeft {
    animation: moveToLeft 1s linear forwards;
    animation-delay: 100ms;
}

.slideRight {
    animation: moveToRight 1s linear forwards;
}

@keyframes moveToLeft {
    from {
        -ms-transform: translate(0px) scale(1);
        -webkit-transform: translate(0px) scale(1);
        transform: translate(0px) scale(1);
    }
    to {
        -ms-transform: translate(-40%) scale(0.5);
        -webkit-transform: translate(-40%) scale(0.5);
        transform: translate(-40%) scale(0.5);
    }
}

@keyframes moveToRight {
    from {
        -ms-transform: translate(-40%) scale(0.5);
        -webkit-transform: translate(-40%) scale(0.5);
        transform: translate(-40%) scale(0.5);
    }
    to {
        -ms-transform: translate(0px) scale(1);
        -webkit-transform: translate(0px) scale(1);
        transform: translate(0px) scale(1);
    }
}